/* Estilos del navbar, este es del navbar completo. */
.navIndex{
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-left: 10px;
    margin-right: 10px;
    background: lavender;
    padding: 10px;
}
/* Estilo del div de los links hacias las pestañas del sistema. */
.navLink{
    width: 300px;
    display: contents;
}
/* Estilos de los enlaces. */
.linkPNav{
    font-size: 21px;
    color: black;
    cursor: pointer;
    text-decoration: none;
}

.linkPNav:hover{
    font-size: 24px;
    color: blue;
}
/* Estilos del div donde esta el titulo y el boton de cerrar ssion. */
.navBtnTitulo{
    width: 330px;
    display: flex;
    align-items: center;
    justify-content: right;

}
/* Estilos del buscador */
.formInput{
    margin-right: 20px;
    width: 150px;
    height: 30px;
    background: lavenderblush;
    border-radius: 4px;
    text-align: center;
}
/* Estilos del titulo o nombre del usuario que ingreso. */
.tituloNav{
    margin-right: 30px;
}

.btnCerrarSesion{
    border-radius: 5px;
    width: 110px;
    height: 30px;
    background-color: #0076c8;
    cursor: pointer;
    color: white;
}
/* Estilos de todo el form. */
.agregarTienda{
    align-items: center;
    text-align: -webkit-center;
    margin-top: 3%;
}
/* Estilos del div que contiene os inputs. */
.inputAgregar{
    display: flex;
    flex-direction: column;
    margin-top: 30px;
    align-items: center;
}
/* Estilos de los inputs. */
.inputTexto{
    display: flex;
    justify-content: space-evenly;
    width: 100%;
    flex-direction: column;
    align-items: center;
}
/* Div que contiene los botones para aceptar o cancelar. */
.inputBotones{
    width: 20%;
    display: flex;
    justify-content: space-around;
}

input{
    width: 250px;
    height: 30px;
    margin: 0px 0px 40px 0px;
}

.btnAceptar{
    border-radius: 5px;
    width: 85px;
    height: 35px;
    background-color: #0076c8;
    margin-top: 20px;
    cursor: pointer;
    color: white;
}

.btnCancelar{
    border-radius: 5px;
    width: 85px;
    height: 35px;
    background-color: red;
    margin-top: 20px;
    cursor: pointer;
    color: white;
}
/* El footer. */
footer{
    text-align: center;
    margin-top: 50px;
}

.LogoChedraui{
    width: 300px;
    margin: 30px;
}

