.navIndex{
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-left: 10px;
    margin-right: 10px;
    background: silver;
    padding: 10px;
}

.navLink{
    width: 300px;
    display: contents;
}

.navBtnTitulo{
    width: 280px;
    display: flex;
    align-items: center;
    justify-content: right;

}

.tituloNav{
    margin-right: 30px;
}

.btnCerrarSesion{
    border-radius: 5px;
    width: 110px;
    height: 30px;
    background-color: #0076c8;
    cursor: pointer;
    color: white;
}

.agregarUsuario{
    align-items: center;
    text-align: -webkit-center;
    margin-top: 5%;
}

.inputAgregar{
    display: flex;
    flex-direction: column;
    margin-top: 40px;
    align-items: center;
}

.inputTexto{
    display: flex;
    justify-content: space-evenly;
    width: 100%;
}

.inputCorreo{
    width: 20%;
}

.inputBotones{
    width: 20%;
    display: flex;
    justify-content: space-around;
    margin-top: 25px;
}

input{
    width: 250px;
    height: 30px;
    margin-top: 40px;
}

.btnAceptar{
    border-radius: 5px;
    width: 85px;
    height: 35px;
    background-color: #0076c8;
    margin-top: 20px;
    cursor: pointer;
    color: white;
}

.btnCancelar{
    border-radius: 5px;
    width: 85px;
    height: 35px;
    background-color: red;
    margin-top: 20px;
    cursor: pointer;
    color: white;
}

footer{
    text-align: center;
    margin-top: 50px;
}

.LogoChedraui{
    width: 300px;
}