.navIndex{
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-left: 10px;
    margin-right: 10px;
    background: silver;
    display: ruby-text;
}

.btnCerrarSesion{
    border-radius: 5px;
    width: 110px;
    height: 30px;
    background-color: #0076c8;
    cursor: pointer;
    color: white;
    margin-left: 405px;
}

.listasTiendas{
    align-items: center;
    text-align: -webkit-center;
    margin-top: 5%;
}

.divTitulo{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}

table{
    border:2rem;
    width: 1000px;
    height: 200px;
    text-align: center;
    margin-top: 20px;
}

footer{
    text-align: center;
    margin-top: 50px;
}

.LogoChedraui{
    width: 300px;
}