/* Estilos del header en donde esta el logo. */
.headerLogin{
    align-items: center;
    margin-top: 5%;
    margin-left: 350px;
}
/* Estilos del formulario para inicio de sesion. */
.formLogin{
    align-items: center;
    text-align: center;
    display: flex;
    flex-direction: column;
    margin-top: 3%;
}
/* Titulo de la pestaña. */
.tituloLogin{
    margin-top: 50px;
}

.LogoChedrauiLogin{
    width: 300px;
}
/* Estilo de los inputs. */
input{
    margin-top: 30px;
    width: 250px;
    height: 32px;
    text-align: center;
    border-radius: 5px;
}
/* Boton para iniciar sesion. */
button{
    margin-top: 30px;
    width: 150px;
    height: 40px;
    background-color: #E0832F;
    border-radius: 5px;
    cursor: pointer;
    color: white;
}

