/* Esta hoja esta enlazada con Pasos.html y pasosUsuario.html, por lo que al modificarla se modifican ambas.*/

.navIndex{
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-left: 10px;
    margin-right: 10px;
    background: silver;
    padding: 10px;
}

.navLink{
    width: 300px;
    display: contents;
}

.linkPNav{
    font-size: 21px;
    color: black;
    cursor: pointer;
    text-decoration: none;
}

.linkPNav:hover{
    font-size: 24px;
    color: blue;
}

.navBtnTitulo{
    width: 295px;
    display: flex;
    align-items: center;
    justify-content: right;

}

.tituloNav{
    margin-right: 30px;
}

.btnCerrarSesion{
    border-radius: 5px;
    width: 110px;
    height: 30px;
    background-color: #0076c8;
    cursor: pointer;
    color: white;
}

.seccionPasos{
    align-items: center;
    text-align: center;
    
}

.divTitulo{
    display: flex;
    flex-direction: row;
    align-items: center;
    margin-left: 384px;
    width: 265;
}

.divRelleno{
    width: 276px;
}

.btnAgregarPaso{
    border-radius: 5px;
    text-align: center;
    width: 110px;
    height: 30px;
    background-color: #0076c8;
    margin-left: auto;
    cursor: pointer;
    color: white;
}

.pasosLista{
    display: flex;
    flex-wrap: wrap;
}

button{
    border-radius: 100%;
    text-align: center;
    width: 150px;
    height: 90px;
    margin: 20px 10px 20px 5px;
}

footer{
    text-align: center;
}

.LogoChedraui{
    width: 300px;
}