/* Esta hoja esta enlazada con Pasos.html y pasosUsuario.html, por lo que al modificarla se modifican ambas.*/
/* Estilos del bavbar. */
.navIndex{
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-left: 10px;
    margin-right: 10px;
    background: silver;
    padding: 10px;
}
/* Estilo del div que contiene los links. */
.navLink{
    width: 300px;
    display: contents;
}
/* Estilo de los links. */
.linkPNav{
    font-size: 21px;
    color: black;
    cursor: pointer;
    text-decoration: none;
}

.linkPNav:hover{
    font-size: 24px;
    color: blue;
}
/* Estilos del div que contiene el nombre del ususario y el boton. */
.navBtnTitulo{
    width: 295px;
    display: flex;
    align-items: center;
    justify-content: right;

}
/* Estilo del nombre de usuario. */
.tituloNav{
    margin-right: 30px;
}

.btnCerrarSesion{
    border-radius: 5px;
    width: 110px;
    height: 30px;
    background-color: #0076c8;
    cursor: pointer;
    color: white;
}
/* Estilos de la seccion en donde se muestran los pasos. */
.seccionPasos{
    align-items: center;
    text-align: center;
    
}
/* Estilos del titulo de la pestaña. */
.divTitulo{
    display: flex;
    flex-direction: row;
    align-items: center;
    margin-left: 384px;
    width: 265;
}
/* Div para ajustar los elementos. */
.divRelleno{
    width: 276px;
}

.btnAgregarPaso{
    border-radius: 5px;
    text-align: center;
    width: 110px;
    height: 30px;
    background-color: #0076c8;
    margin-left: auto;
    cursor: pointer;
    color: white;
}
/* Estilos del form en donde se muestran los pasos. */
.pasosLista{
    display: flex;
    flex-wrap: wrap;
}
/* Cada boton es un paso a seguir. */
button{
    border-radius: 100%;
    text-align: center;
    width: 150px;
    height: 90px;
    margin: 20px 10px 20px 5px;
}
/* El footer. */
footer{
    text-align: center;
}

.LogoChedraui{
    width: 300px;
}