.navIndex{
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-left: 10px;
    margin-right: 10px;
    background: silver;
    padding: 10px;
}

.navLink{
    width: 300px;
    display: contents;
}

.linkPNav{
    font-size: 21px;
    color: black;
    cursor: pointer;
    text-decoration: none;
}

.linkPNav:hover{
    font-size: 24px;
    color: blue;
}

.navBtnTitulo{
    width: 580px;
    display: flex;
    align-items: center;
    justify-content: right;

}

.tituloNav{
    margin-right: 30px;
}

.btnCerrarSesion{
    border-radius: 5px;
    width: 110px;
    height: 30px;
    background-color: #0076c8;
    cursor: pointer;
    color: white;
}

.listasUsuarios{
    align-items: center;
    text-align: -webkit-center;
    margin-top: 3%;
}

.divTitulo{
    display: flex;
    flex-direction: row;
    align-items: center;
    /*justify-content: space-around;*/
    margin-left: 390px;
    width: 265;
}

.divRelleno{
    width: 276px;
}

.btnAgregarUsuarios{
    border-radius: 5px;
    width: 115px;
    height: 30px;
    background-color: #0076c8;
    cursor: pointer;
    color: white;
}

table{
    border:2rem;
    width: 1000px;
    height: 200px;
    text-align: center;
    margin-top: 20px;
}

.btnEditar{
    border-radius: 5px;
    background-color: #9b9b9b;
    width: 60px;
    height: 30px;
    cursor: pointer;
    color: black;
}

.btnEliminar{
    border-radius: 5px;
    background-color: #c90b0b;
    width: 65px;
    height: 30px;
    cursor: pointer;
    color: white;
}

footer{
    text-align: center;
    margin-top: 50px;
}

.LogoChedraui{
    width: 300px;
}