/* Estilos del navbar. */
.navIndex{
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-left: 10px;
    margin-right: 10px;
    background: lavender;
    padding: 10px;
}
/* Estilos de div que contiene los links. */
.navLink{
    width: 270px;
    display: contents;
}
/* Estilos de los links. */
.linkPNav{
    font-size: 21px;
    color: black;
    cursor: pointer;
    text-decoration: none;
}

.linkPNav:hover{
    font-size: 24px;
    color: blue;
}
/* Estilos del div que contiene el nombre de usuarios y el boton. */
.navBtnTitulo{
    width: 330px;
    display: flex;
    align-items: center;
    justify-content: right;

}
/* Estilos de buscador*/
.formInput{
    margin-right: 20px;
    width: 150px;
    height: 30px;
    background: lavenderblush;
    border-radius: 4px;
    text-align: center;
}
/* Estilos del nombre del usuario. */
.tituloNav{
    margin-right: 30px;
}

.btnCerrarSesion{
    border-radius: 5px;
    width: 110px;
    height: 30px;
    background-color: #0076c8;
    cursor: pointer;
    color: white;
}
/* Estilos de la seccion en donde se muestra la tabla de los usuarios. */
.listasUsuarios{
    align-items: center;
    text-align: -webkit-center;
    margin-top: 3%;
}
/* Estilos del div que contiene el nombre de la pestaña y un boton. */
.divTitulo{
    display: flex;
    align-items: center;
    justify-content: right;
    width: 98%;
}
/* Div para ajustar los elementos. */
.divRelleno{
    width: 450px;
}

.btnAgregarUsuarios{
    border-radius: 5px;
    width: 130px;
    height: 30px;
    background-color: #0076c8;
    cursor: pointer;
    color: white;
}
/* Estilos de la tabla que contiene a los usuarios. */
.table{
    border:2rem;
    width: 95%;
    height: 200px;
    margin-top: 20px;
    text-align: justify;
}
/* Icono de el boton de editar. */
.imgEditar{
    width: 25px;
    height: 30px;
    filter: invert(1);
}
/* Icono de el boton de eliminar. */
.imgEliminar{
    width: 45px;
    height: 30px;
    filter: invert(1);
}

.btnEditar{
    border-radius: 5px;
    width: 55px;
    height: 38px;
    background: #20ab20;
    cursor: pointer;
    color: black;
}

.btnEliminar{
    border-radius: 5px;
    width: 60px;
    height: 38px;
    background: #c73131;
    cursor: pointer;
    color: white;
}

/* El footer. */
footer{
    text-align: center;
    margin-top: 50px;
}

.LogoChedraui{
    width: 300px;
} 